## Section 9 for Scikit-learn in the Udemy course

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

from IPython.display import display

pd.set_option('display.max_columns', 40)

In [2]:
def build_cus_df(cus_age, cus_gender, cus_dependent, cus_education, cus_marital, cus_income, cus_card, cus_time, 
                 cus_inactive, cus_contact_ct, cus_cred_limit, cus_revolve, cus_open, cus_perc_chg_q4_q2, 
                 cus_count_chg_q4_q2, cus_trans_amt, cus_trans_ct, cus_util):
    cus_df = pd.DataFrame({'Customer_Age': [cus_age],
                           'Gender': [cus_gender],
                           'Dependent_count': [cus_dependent],
                           'Education_Level': [cus_education],
                           'Marital_Status': [cus_marital],
                           'Income_Category': [cus_income],
                           'Card_Category': [cus_card],
                           'Months_on_book': [cus_time],
                           'Credit_Limit': [cus_cred_limit],
                           'Total_Revolving_Bal': [cus_revolve],
                           'Avg_Open_To_Buy': [cus_open],
                           'Total_Amt_Chng_Q4_Q1': [cus_perc_chg_q4_q2],
                           'Total_Ct_Chng_Q4_Q1': [cus_count_chg_q4_q2],
                           'Total_Trans_Amt': [cus_trans_amt],
                           'Total_Trans_Ct': [cus_trans_ct],
                           'Avg_Utilization_Ratio': [cus_util]
                          })

    return cus_df

In [3]:
# Import the data set
ds = pd.read_csv('BankChurners.csv')
ds.rename(columns = {'Attrition_Flag':'Existing_Customer_Bit'}, inplace = True)
ds.head()

,CLIENTNUM,Existing_Customer_Bit,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
# Drop unused/unnecessary columns
ds.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
         'CLIENTNUM',
         'Total_Relationship_Count',
         'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], 
        inplace=True, 
        axis=1)

In [5]:
ds[:15]

,Existing_Customer_Bit,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
6,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
7,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
8,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,2,0,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113
9,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,3,3,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144
10,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
11,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,2,3,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174
12,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,6,0,11751.0,0,11751.0,3.397,1539,17,3.250,0.000
13,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,1,3,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195
14,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,2,2,2436.0,680,1756.0,1.190,1570,29,0.611,0.279

In [6]:
# Turning String categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Split data into Features and Labels
X = ds.drop('Existing_Customer_Bit', axis=1)
y = ds['Existing_Customer_Bit']

# Anything that is a category, included customer bit which is going to be my target value, 
# so check here if there are issues running the ML model
categorical_features = ['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)],
                               remainder = 'passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X
pd.DataFrame(transformed_X[:15])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,45.0,3.0,39.0,1.0,3.0,12691.0,777.0,11914.0,1.335,1144.0,42.0,1.625,0.061
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,49.0,5.0,44.0,1.0,2.0,8256.0,864.0,7392.0,1.541,1291.0,33.0,3.714,0.105
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,51.0,3.0,36.0,1.0,0.0,3418.0,0.0,3418.0,2.594,1887.0,20.0,2.333,0.000
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40.0,4.0,34.0,4.0,1.0,3313.0,2517.0,796.0,1.405,1171.0,20.0,2.333,0.760
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,40.0,3.0,21.0,1.0,0.0,4716.0,0.0,4716.0,2.175,816.0,28.0,2.500,0.000
5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,44.0,2.0,36.0,1.0,2.0,4010.0,1247.0,2763.0,1.376,1088.0,24.0,0.846,0.311
6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,51.0,4.0,46.0,1.0,3.0,34516.0,2264.0,32252.0,1.975,1330.0,31.0,0.722,0.066
7,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,32.0,0.0,27.0,2.0,2.0,29081.0,1396.0,27685.0,2.204,1538.0,36.0,0.714,0.048
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,37.0,3.0,36.0,2.0,0.0,22352.0,2517.0,19835.0,3.355,1350.0,24.0,1.182,0.113
9,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,48.0,2.0,36.0,3.0,3.0,11656.0,1677.0,9979.0,1.524,1441.0,32.0,0.882,0.144
10,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,42.0,5.0,31.0,3.0,2.0,6748.0,1467.0,5281.0,0.831,1201.0,42.0,0.680,0.217
11,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,65.0,1.0,54.0,2.0,3.0,9095.0,1587.0,7508.0,1.433,1314.0,26.0,1.364,0.174
12,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,56.0,1.0,36.0,6.0,0.0,11751.0,0.0,11751.0,3.397,1539.0,17.0,3.250,0.000
13,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,35.0,3.0,30.0,1.0,3.0,8547.0,1666.0,6881.0,1.163,1311.0,33.0,2.000,0.195
14,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,57.0,2.0,48.0,2.0,2.0,2436.0,680.0,1756.0,1.190,1570.0,29.0,0.611,0.279

In [7]:
ds.loc[ds['Existing_Customer_Bit'] == 'Existing Customer', 'Existing_Customer_Bit'] = 1
ds.loc[ds['Existing_Customer_Bit'] == 'Attrited Customer', 'Existing_Customer_Bit'] = 0

In [8]:
# Split data into Features and Labels
X = transformed_X

#pd.DataFrame(X)

In [9]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Existing_Customer_Bit, dtype: object

In [10]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [11]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8101, 36), (2026, 36), (8101,), (2026,))

In [12]:
# Despite a 37% accuracy score, this effectively demonstrates the one_hot 
# functionality to encode string type values to num values
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.7352298766824574

## Dealing with Missing Data

In [13]:
# Check for missing data values
ds.isna().sum()

Existing_Customer_Bit     0
Customer_Age              0
Gender                    0
Dependent_count           0
Education_Level           0
Marital_Status            0
Income_Category           0
Card_Category             0
Months_on_book            0
Months_Inactive_12_mon    0
Contacts_Count_12_mon     0
Credit_Limit              0
Total_Revolving_Bal       0
Avg_Open_To_Buy           0
Total_Amt_Chng_Q4_Q1      0
Total_Trans_Amt           0
Total_Trans_Ct            0
Total_Ct_Chng_Q4_Q1       0
Avg_Utilization_Ratio     0
dtype: int64

## Picking the correct model

In [14]:
# Note - sklearn refers to ML models as 'estimators'
# clf is often used to shorten 'classifier'
# Regression problem - predicting a number (selling price for instance)

In [15]:
# Both work, but Random Forest Classifier is more accurate
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression

y = ds['Existing_Customer_Bit']

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [16]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X_train, y_train.astype(int))

clf.score(X_test, y_test.astype(int))

0.9575518262586377

## Making predictions with the Model

In [17]:
# Manually comparing the predcictions to the truth labels to evaluate the model
y_preds = clf.predict(X_test)
np.mean(y_preds == y_test)

0.9575518262586377

In [18]:
X_test[:1]

array([[1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 3.2000e+01, 2.0000e+00,
        2.3000e+01, 2.0000e+00, 2.0000e+00, 1.4143e+04, 1.4720e+03,
        1.2671e+04, 7.7700e-01, 1.3785e+04, 1.1700e+02, 6.4800e-01,
        1.0400e-01]])

In [19]:
# predict_proba() returns probabilities of a classification label
clf.predict_proba(X_test[:5])

array([[0.01, 0.99],
       [0.01, 0.99],
       [0.46, 0.54],
       [0.21, 0.79],
       [0.89, 0.11]])

In [20]:
# predict() on the same data, spits out binary yes/no 
clf.predict(X_test[:5])

array([1, 1, 1, 1, 0])

In [21]:
og_X = ds.drop('Existing_Customer_Bit', axis=1)
og_X[:1]

#og_X['Card_Category'].unique()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,45,M,3,High School,Married,$60K - $80K,Blue,39,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061

In [22]:
#cus_age = input("Please provide the age of the customer: ")
#cus_gender = input("Please provide the customer's gender (1 for Male or 2 for Female): ")
#cus_dependent = input("Please provide the # of dependents the customer has: ")
#cus_education = input("Please provide the education level: \n1: No High School Diploma | 2: High School | 3: College Graduate\n4: Grad School | 5: Post-Graduate | 6: Doctorate | 7: Unknown\n")
#cus_marital = input("Please provide the customer's marital status:\n1: Married | 2: Single | 3: Unknown | 4: Divorced")
#cus_income = input("Please provide the customer's income range:\n1: Less than $40k | 2: $40k - $60k | 3: $60 - $ 80k | 4: $80k - $120k | 5: $120k+ | 6: Unknown")
#cus_card = input("Please provide the customer's card level:\n1: Blue | 2: Silver | 3: Gold | 4: Platinum")
#cus_time = input("Please provide the customer's account age in months: ")
#cus_inactive = input("Please provide the number of months the account has been inactive (0 if an active account): ")
#cus_contact_ct = input("Please provide the number of customer contacts in the past 12 months: ")
#cus_cred_limit = input("Please provide the customer's credit limit: ")
#cus_revolve = input("Please provide the customer's total revolving balance: ")
#cus_open = input("Please provide the customer's available credit amount: ")
#cus_perc_chg_q4_q2 = input("Please provide the customer's account value change from Q4 to Q1 (A 20% increase would be 1.20, while a 20% decrease would be 0.8): ")
#cus_count_chg_q4_q2 = input("Please provide the customer's transaction count change from Q4 to Q1 (A 20% increase would be 1.20, while a 20% decrease would be 0.8): ")
#cus_trans_amt = input("Please provide the customer's total transaction amount: ")
#cus_trans_ct = input("Please provide the customer's total transaction count: ")
#cus_util = input("Please provide the customer's average utilization ratio: ")

In [23]:
#print(build_cus_df(cus_age, cus_gender, cus_dependent, cus_education, cus_marital, cus_income, cus_card, cus_time, 
#                 cus_inactive, cus_contact_ct, cus_cred_limit, cus_revolve, cus_open, cus_perc_chg_q4_q2, 
#                 cus_count_chg_q4_q2, cus_trans_amt, cus_trans_ct, cus_util))

### Testing

In [24]:
clf.predict([ [0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,33,2,12,0,25,17000,1000,16000,1.1,2300,23,1.1,0.05] ])
#weighter_predictions = weighter.predict([ [2, 0, 0, 48, 169, 180] ])

array([1])